<h1>Add a Song</h1>

<form action="/songs" method="POST">
  <label for="Artist Name">Artist Name</label></br>
  <input type="text" name="Artist Name" value="Artist Name"></br>

  <label for="Name">Song Name</label></br>
  <input type="text" name="Name" value="Name"></br>

  <label> Genres </label>
  <% Genre.all.each do |genre| %>
    <label > <%= genre.name %> </label>
    <input type="checkbox" id="<%= genre.name %>" name="[genres][]" value="<%= genre.id %> <%= genre.name %>"></input>
  <% end %>

  <input type="submit" id="Create">

</form>
